.header {
    grid-area: header;
    display: grid;
    grid: "logo  credit  bet  insert" auto / 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    background: rgb(91, 16, 16);
    background: linear-gradient(0deg, rgba(91, 16, 16, 1) 0%, rgb(255, 0, 0) 100%);
}

.title {
    grid-area: logo;
    justify-self: start;
    height: fit-content;
    width: fit-content;
}

.imgheader {
    height: 12vh;
    max-height: max-content;
}

.money {
    grid-area: credit;
    width: fit-content;
    text-align: center;
}

.apuesta {
    grid-area: bet;
    width: fit-content;
}

.dinero {
    grid-area: insert;
    width: fit-content;
}